body {
  font-family: "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 20px;
}

.card {
	background-color:  #F4D03F;
	width: 200px;
	height: 200px;
	padding: 10px;
	margin-right: 3px;
}

.card-group {
	display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
